@inject NavigationManager NavigationManager

<nav class="topBar">
    <AuthorizeView>
        <Authorized>
            <div class="profileBar">
                <a href="/Account/ProfilePage" class="profile-button"><img src="profile-circle.svg" /></a>
                <button class="notification-button"><img src="notification-logo.svg" /></button>
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="text-logo">
        <button>twitter</button>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="searchbar">
                <input type="text" class="searchbar-input" />
                <button class="search-button"><img class="search-logo" src="search-logo.svg" /></button>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>


@code {
    
}